/dataset/*
/LocalisationCNN/dataset/*
/securityCNN/dataset/*
/securityCNN/DatasetOriginal/*
/securityCNN/*.h5
/securityCNN/__pycache__/

/securityCNN/*.zip
/securityCNN/model*_checkpoints/*
*.pyc

/securityCNN/*.hdf5

object_detection_model\.hdf5

localisation_cnn\.h5
